<div class="page-header">
  <h1>
    Directors
    <a href="/directors/new" class="btn btn-lg btn-success">New Director</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "directors_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

<div class="form-group">
    <%= f.label :oscar_eq, "Oscar" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :oscar_eq, "1", checked: ((params[:q] && params[:q][:oscar_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :oscar_eq, "0", checked: ((params[:q] && params[:q][:oscar_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :oscar_eq, ""%> Either
      </label>
    </div>
  </div>

<div class="form-group">
    <%= f.label :bio_cont, "Bio contains" %>
    <%= f.text_field :bio_cont, :class => "form-control", :placeholder => "Bio contains" %>
  </div>

        

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/directors" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#directors_filters">
      Show Filters
    </a>
  </div>
</div>


<div class="row m-b-2">
  <div class="col-md-12">
    <div>
      <div id="location_map" style="height: 480px;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Dob</th>
        <th>Age</th>
        <th>Bio</th>
        <th>Oscar</th>
        <th>Image</th>
        <th>Address</th>
        <th>Show time</th>
        <th>Actions</th>
      </tr>

      <% @directors.each do |director| %>
      <tr>
        <td><%= director.name %></td>
        <td><%= director.dob %></td>
        <td><%= director.age %></td>
        <td><%= director.bio %></td>
        <td><%= director.oscar %></td>
        <td><img src='<%= director.image %>' class='img-responsive'></td>
        <td><%= director.address %></td>
        <td><%= director.show_time %></td>
        <td>
          <a href="/directors/<%= director.id %>" class="btn btn-primary">Show</a>
          <a href="/directors/<%= director.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_director/<%= director.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @directors, theme: 'twitter-bootstrap-4' %>
  </div>
</div>

<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers(<%= raw @location_hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>